body{
    margin: 0;
    padding-top: 40px;
}


.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #f9f9f9;
}

.contact-form {
    flex: 1;
    margin-right: 20px;
}

.contact-form h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: 'Actor';
    font-style: normal;
    color: #000000;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
}

#submit[type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

#submit [type="submit"]:hover {
    background-color: #555;
}

.contact-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-image img {
    max-width: 100%;
    height: auto;
    border-radiu