* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #ffffff;
}


/* Style for the hero section */
.hero-section {
    position: relative;
    text-align: center;
    color: white;
}

.hero-section img {
    width: 100%;
    height: auto;
}

.hero-section .S1-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:x-large;
    font-family:'Roboto', Actor;
    color: #ffffff;
    letter-spacing: 2px;
}

.S1-text p{
    color: #ffffff;
}

.hero-section .cta-button {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
}

.hero-section a:hover{
    text-decoration: underline;
    font-weight: bold;
}

/* Tablet styles */
@media (max-width: 768px) {
    body{
        padding-top: 60px;
    }
    .hero-section .S1-text {
        font-size: large;
    }

    .hero-section .cta-button {
        padding: 8px 16px;
        font-size: medium;
    }
    .hero-section .S1-text {
        font-size: large;
    }

    .hero-section .cta-button {
        padding: 8px 16px;
        font-size: medium;
    }
}
/* iPhone 12 Pro portrait styles */
@media (max-width: 390px) {
    /* Hero section */
    .hero-section .S1-text {
        font-size: medium;
    }

    .hero-section .cta-button {
        padding: 6px 12px;
        font-size: small;
    }
}





/* Style for the best sell products section */
.best-sell-products {
    display: flex;
    flex-direction: row;
    padding: 50px;
    margin-top: 10%;
    margin-bottom: 10%;
}

/* style of left side of section 2 */
.s2-left-side {
    margin-right: 20px;
    text-align: center;
}

.s2-left-side h1 {
    text-align: left;
    font-size: 2em;
    margin-bottom: 10px;
}

.s2-left-side img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.s2-left-side .promotion {
    font-size: 1.2em;
    color: #333;
}

/* Style for the right side of section 2 */

.s2-right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 20px;
    padding: 20px;
    background-color: #f7f7f7;
}

.s2-right-side h2 {
    font-size: xx-large;
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.s2-right-side p {
    font-size: large;
    line-height: 30px;
    margin-top: 10px;
    margin-left: 20px;
    width: 80%;
}
/* Buttom */
.s2-right-side .explore-button {
    background-color: #E4E1D8;
    color: #3E4348;
    padding: 15px 20px;
    text-decoration: none;
    font-size: large;
    border: none;
    border-radius: 10px;
    margin-left: 400px;
    margin-bottom: 20px;
    cursor: pointer;
}
/* Style for product card */
.s2-right-side .products-mobile{
    display: none;
}
.s2-right-side .products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    padding: 20px;
    width: fit-content;
    border-top: 1px solid #E4E1D8;
    text-decoration: none;
}

.product ,image {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.product p {
    display: flex;
    text-align: left;
    font-size: large;
    line-height: 20px;
}

.product .price {
    font-weight: bold;
    height: auto;
}

.product .original-price {
    text-decoration: line-through;
    font-size: smaller;
    color: #3E4348;
    margin-left: 10px;
}

.product .row{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.product .S2-icon {
    height: 20px;
    width: auto;
    margin: 0 10px;
    cursor: pointer;
}




@media (max-width: 768px) {
    .best-sell-products{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 10px;
    }
    .s2-right-side{
        width: 100%;
        margin: 20px 10px;

    }
    .s2-right-side h2, .s2-left-side h1{
        font-size: larger;
        font-weight: bold;
    }
    .s2-right-side p{
        font-size: medium;
    }
    .s2-right-side .explore-button{
        font-size: smaller;
        margin:20px;
        padding: 10px;
    }
}
@media (max-width: 390px) {
    .best-sell-products{
        margin: 0 16;
        padding: 0;
    }
    .s2-right-side .context{
        display: flex;
        flex-direction: column;

    }

    .s2-right-side .explore-button {
        width: fit-content;
        padding: 5px;
        border-radius: 10px;
        margin-left: 0;
        margin: 20px;
    }
    .s2-right-side .products{
        display: none;
    }
    .s2-right-side .products-mobile{
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }
    }




/* Style for the featured product section */

/* Left side of Section 3 */
.featured-product {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.featured-product-details {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #f7f7f7;
}

/* Texts at the left */
.featured-product h2 {
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 40px;
    font-size: 2em;
}

.featured-product h3{
    font-size: 1.5em;
    font-style: italic;
    height: auto;
}

.featured-product-details .row-1{
    display: flex;
    align-items: center;
    gap: 20px; 
}

.featured-product-details .row-2{
    display: flex;
    align-items: center;
    gap: 60px; 
}

.featured-product-details p {
    width: 40%;
    padding: 20px;
    line-height: 30px;
    font-size: large;
    margin-left: 40px;

}

/* Style of the images */

.featured-product-details .s3-image-left{
    width: 60%;
    height: auto;
}

.featured-product-details .s3-image-right{
    width: 50%;
    height: auto;
}

/* Right side of the section 3 */

.recommended {
    background-color: #E4E1D8;
    padding: 40px;
    width: 30%;
}

.recommended h2 {
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
}

/* Style of the product */
.recommended-products {
    display: flex;
    margin-left: 60px;
    gap: 40px;
    /* Allows the custormers to scroll */
    overflow-x:scroll;
    padding-bottom: 20px;
}

.s3-product {
    min-width: 200px;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.s3-product img {
    border-bottom:1px solid #e5e5e5;
    width: 180px;
    height: auto;
    margin-bottom: 10px;
}

.s3-product h3 {
    font-size:medium;
    margin-bottom: 10px;
}

.s3-product .row{
    display: flex;
    align-items: center;
}
.s3-product p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.s3-product .price {
    margin-left: 40px;
    margin-bottom: 20px;
}

.s3-product .original-price {
    text-decoration: line-through;
    font-size: small;
    color: #3E4348;

}

.s3-product .S3-icon {
    border: 0;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.add-to-cart {
    background-color: #3E4348;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
}


@media (max-width: 768px) {
    .recommended{
        display: none;
    }
    .featured-product-details p{
        font-size: medium;
        line-height: 20px;
    }
    .featured-product-details h2{
        font-size: larger;
    }

}
@media (max-width: 390px) {
    .recommended{
        display: none;
    }
    .featured-product-details{
        display: block;
    }
    .featured-product-details .row-2{
        display: block;
        align-items: right;
        justify-content: right;
        margin: o;
    }
    .featured-product-details .row-2 p{
        display: block;
        width: 80%;
        margin: 20px;
        font-size: smaller;
        padding: 0;
    }
    .featured-product-details .row-2 img{
        display: block;
        padding-left: 30%;
        width: 100%;
    }

}

/* Style for section 4 (the why us section) */

.why-us-section {
    padding: 50px;
    background-color: #ffffff;
}

/* Top part of the section */
.s4-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 40px;
    margin-bottom: 50px;
}

.s4-top-texts {
    flex: 1;
    text-align: center;
    margin-right: 20px;
}

.s4-top-texts h2 {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 40px;
}

.s4-top-texts p {
    font-size: 1.2em;
    line-height: 30px;
    margin-bottom: 60px;
}

.s4-top-texts .cta-button {
    background-color: #333;
    color: white;
    padding: 15px 40px;
    text-decoration: none;
    font-size: larger;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.s4-image-left {
    flex: 1;
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    margin-left: 20px;
}

/* Bottom part of the section */
.s4-buttom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
}

.s4-buttom-texts {
    flex: 1;
    margin-left: 60px;
    align-items: center;
}

.s4-buttom-texts h2 {
    font-size: 2em;
    margin-bottom: 40px;
}

.s4-buttom-texts p {
    font-size: 1em;
    width: 70%;
    line-height: 30px;
    margin-bottom: 40px;
}

.s4-buttom-texts .features{
    display: flex;
    gap: 40px;
}

.s4-buttom-texts li {
    font-size: 1em;
    font: bold;
    margin-bottom: 10px;
    display: flex;
}

/* Image */
.s4-image-right {
    flex: 1;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-left: 60px;
}

.why-us-section .s4-mobile{
    display: none;
}

@media (max-width: 768px) {
    .s4-top,.s4-buttom{
        display: none;
    }

    .why-us-section .s4-mobile{
        display: block;
        align-items: center;
        text-align: center;
        gap: 10px;
        margin-bottom: 10%;
    }
    .s4-mobile .text-1{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
        padding: 10px;
    }
    .text-1 .cta-button {
        background-color: #333;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        font-size: medium;
        border: none;
        border-radius: 10px;
        cursor: pointer;}

    .s4-mobile .text-2{
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: right;
    }
    .s4-mobile .text-2 img{
        width: 60%;
        border-radius: 40%;
    }
    .s4-mobile .text-3{
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        margin-bottom: 5%;
    }
    .text-3 li{
        list-style: none;
    }
    .s4-mobile .text-3 img{
        width: 60%;
        border-radius: 40%;
    }

}
@media (max-width: 390px) {
    .s4-mobile .text-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .s4-mobile .text-2 img{
        width: 100%;
        border-radius: 20px;
    }
    .s4-mobile .text-3{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        gap: 10px;
    }
    .s4-mobile .text-3 img{
        width: 100%;
        border-radius: 20px;
    }
    .text-3 li{
        list-style: none;
        text-align: left;
    }

    
}


/* Style for the section 5 (blog section) */
.blog-section {
    position: relative;
    text-align: left;
    color: white;
}
/* Image */
.blog-section img {
    width: 100%;
    height: auto;
}

.blog-section .s5-text {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.blog-section .cta-button {
    background-color: #ffffff;
    color: #3E4348;
    border-radius: 10px;
    padding: 10px 30px;
    text-decoration: none;
    margin-top: 30px;
    margin-left: 20px;
    display: inline-block;
}

@media (max-width: 768px) {
    .blog-section{
        position: relative;
        text-align: left;
    }
    .blog-section .s5-text{
        position: absolute;
        padding: 3%;
        justify-content: left;
        top: 40%;
        left: 40%;
    }
    .blog-section h2{
        font-size: small;
        padding: 10px;
    }
    .blog-section .cta-button{
        padding: 5px;
        font-size: medium;
        margin: 0;
    }
}
@media (max-width: 390px) {
    .blog-section h2{
        font-size: smaller;
        padding: 10px;
    }
    .blog-section .cta-button{
        padding: 5px;
        font-size: small;
        margin: 0;
    }
}


/* Style for section 6 */
.s6 {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.s6 .s6-image {
    width: 100%;
    height: auto;
}


@media (max-width: 768px) {
    .s6 {
        margin: 0;
}
}


