body {
    margin: 0;
    background-color: #f9f9f9;
    box-sizing: border-box;
    padding-top: 70px;
}
html {
    scroll-behavior: smooth;
}
/* Nav bar at the top */

/* Nav bar fixed at the top */
.product-detail-nav{
    position: fixed;
    width: 100%;
    top: 70px;
    background-color: #f9f9f9;
    z-index: 1000;
}
#product,#description,#reviews,#recommended{
    padding-top: 90px;
}
.product-detail-nav ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #e5e5e5;
}

.product-detail-nav li{
    list-style: none;
    padding: 8px 9%;
    font-size: large;
    border-right: 1px solid #E4E1D8;
}
.product-detail-nav a {
    text-decoration: none;
    color: #3e4348;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.product-detail-nav a:hover{
    text-decoration: underline;
}
.product-detail-nav li:hover{
    background-color: #E4E1D8;
}

/* Product section */
.product-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    /* padding: 20px; */
}
.return{
    height: max-content;
    position: absolute;
    top: 15%;
    padding: 10px;
    margin-left: 40px;
    justify-content: left;
    border: none;
    background-color: transparent;
    font-size: large;
    color: #3E4348;
}
.return:hover{
    text-decoration: underline;
}

/* Image section */
.product-images {
    flex: 1;
    max-width: 400px;
    margin-right: 50px;

}

.product-images img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.extra-images{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.extra-images img{
    width: 60px;
    height: auto;
    margin: 0 5px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
}

.extra-images img:hover, .extra-images img.selected {
    border-color: #333;
}

/* Product Details Section */
.product-details {
    flex: 1;
    max-width: 400px;
}

.product-details h1 {
    font-size: 2em;
    margin-bottom: 10px;
}
/* Price */
.price {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 5px;
}

.original-price {
    text-decoration: line-through;
    color: rgb(190, 0, 0);
    margin-left: 10px;
    font-size: large;
}

.tax-included {
    font-size: 0.9em;
    color: #777;
    margin-bottom: 20px;
}

/* Type and Details  */

    /* Color options */
.colors {
    display: flex;
    margin-bottom: 20px;
}

.color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid transparent;
}

.color.white {
    background-color: white;
    border-color: #ccc;
}

.color.black {
    background-color: black;
    border-color: #ccc;
}

.color.gray {
    background-color: gray;
    border-color: #ccc;
}

.color:hover, .color.selected {
    border-color: #333;
}

/* Quantity option */

.product-options {
    margin-bottom: 20px;
    display: inline-block;
    gap: 60px;
}

.product-details label {
    display: block;
    font-weight: bold;
    margin: 5px 0;
}
.product-options{
    display: flex;
    align-items: center;
}

.quantity-size{
    display: flex;
    flex-direction: column;
}

.quantity {
    display: flex;
    align-items: center;
    margin: 10px;

}

.quantity button {
    background-color: #3E4348;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.quantity input {
    width: 60px;
    height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 0 5px;
}

.quantity button:hover {
    background-color: #555;
}

    /* size */
.size{
    margin: 10px;
    padding: 5px 10px;
    border-radius: 10px;
}

    /* Guarantee */
.product-guarantee {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.product-guarantee li {
    margin-bottom: 10px;
    font-size: 0.9em;
    color: #3E4348;
}


    /* Action buttons */
.product-actions {
    display: flex;
    flex-direction: column;
}

.add-to-cart, .buy-now {
    background-color: #3E4348;
    color: white;
    font-size: larger;
    border: none;
    padding: 15px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 10px;
}

.buy-now {
    background-color: #E4E1D8;
    color: #3E4348;
}

.add-to-cart:hover, .buy-now:hover {
    opacity: 0.8;
}

/* Responsive Adjustments */
/* @media (max-width: 768px) {
    .product-page {
        flex-direction: column;
        align-items: center;
    }

    .product-image, .product-details {
        max-width: 100%;
        margin-right: 0;
    }
} */










/* Product description section */
.description{
    margin: 40px;
}
.description h1{
    text-align: center;
    padding-top: 20px;
    margin: 60px 20% 40px 20%;
    border-top: 2px solid #E4E1D8;
}

.description-content{
    display: flex;
    justify-content: space-between;
    align-items:inherit;
    margin: 0px 10% 20px 10%;
    gap: 80px;
}
.item-description{
    flex: 1;
    text-align: left;
    padding: 10px;
}

.item-description h2{
    margin-bottom: 20px;
}

.item-description p{
    line-height: 28px;
    font-size: large;
    font-family: Aksara Bail Galang;

}

/* Features of the shop and products */
.features-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0px;
    margin: 80px 3%;
}

.item-feature{
    width: 25%; 
    height: 80px;
    display: inline-block;
    padding: 0 20px;
    margin: 0px;
    text-align: center;
    border-left: 2px solid #E4E1D8;
    border-right: 2px solid #E4E1D8;
}
.item-feature h3, p{
    padding: 5px;
    color: #3e4348;
}

/* Review section */
.reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    margin-top: 40px;
    padding: 40px;
}
.reviews h1{
    display: block;
    padding: 30px 30%;
    border-top: 2px solid #E4E1D8;
}
.reviews-summary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 40px;
    background-color: #E4E1D8;
}
/* Left side */
.ratings-distribution{
    padding: 40px;
}
.ratings-distribution .rating-bar{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    font-size: x-large;
}
.ratings-distribution .bar{
    display: inline-block;
    height: 4px;
    color: #3e4348;
    width: 120px;
    height: 10px;
    background-color: #ffffff;
}
.rating-bar .fill{
    color: #3E4348;
    background-color: #3E4348;
    height: 10px;
}

    /* Right side */
.average-rating{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    padding: 40px;
}
.average-rating p{
    font-size: 2em;
}
    /* write-review-button */
.average-rating .write-review-button{
    padding: 10px 40px;
    margin-top: 20px;
    font-size: large;
    border: none;
    border-radius: 10px;
    background-color: #3e4348;
    color: white;
}

/* Recommended Section */
.recommended{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px;
}
/* Heading */
.recommended h1{
    display: block;
    padding: 30px 30%;
    border-top: 2px solid #E4E1D8;
    margin-top: 60px;
}

/* Recommended product */
.all-recommended-product{
    display: flex;
    flex-direction: row;
    align-items: inherit;
    gap: 20px;
}
/* Product card style */
.recommended-products{
    margin-bottom: 10px;
    width: 300px;
    padding-bottom: 20px;
    text-align: center;
    border-bottom:2px solid #e5e5e5;
}

.recommended-products .product-image {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.recommended-products .product-name {
    text-align: left;
    font-size: large;
    height: 30px;
    line-height: 20px;
    margin-bottom: 20px;
}

.recommended-products .product-price {
    font-weight: bold;
    color: #000000;
    text-align: left;
    height: auto;
    width: 120px;
}

.recommended-products .original-price {
    text-decoration: line-through;
    font-size: smaller;
    color: #3E4348;
    margin-left: 10px;
}

.recommended-products .product-action{
    display: flex;
    align-content: center;
    margin-left: 200px;
}

.recommended-products .product-icon {
    height: 20px;
    width: auto;
    margin: 0 8px;
    cursor: pointer;
}