/* header style */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.left-header, .header-center, .right-header {
    display: flex;
    align-items: center;
}

/* style for navigation bar*/
.header-nav-left {
    gap: 40px;
    display: flex;
    margin-right: 30px;
    margin-left: 30px;
}
.header-nav-right {
    gap: 10px;
    display: flex;

}
/* font style */
.header-nav-right, .header-nav-left {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
}
/* icons */
.icon {
    margin-right: 20px;
    display: flex;
    width: 20px;
    height: 20px;
    top: 1.53px;
}

/* header center */
.header-center {
    display: absolute;
    flex-direction: column;
    align-items: center;
}
.main-logo {
    height: 50px;
}



/* style for footer */
.site-footer {
    position: relative;
    flex-direction: column;
    align-items: center;
    background: #E4E1D8;
    color: #333;
    padding: 40px 20px;
}


.footer-column {
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
}

.column1, .column2, .column3 {
    width: 30%;
}

.column1 h3 {
    margin-top: 0;
    font-size: 1.2em;
    margin-bottom: 15px;
}

.column1 ul, .column2 ul {
    list-style: none;
    padding: 0;
}

.column1 ul li, .column2 ul li {
    margin-bottom: 10px;
}

.column1 ul li a, .column2 ul li a {
    margin-bottom: 10px;
    color: #333;
    text-decoration: none;
}

.column2 p {
    margin-top: 0;
    margin-bottom: 20px;
}
/* style for the Newsletter */
.column3 form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.column3 input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1;
}

.column3 button {
    padding: 10px 20px;
    background-color: #34383b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
/* icon at the right buttom */
.footer-logo img {
    position: absolute;
    width: 135px;
    height: 62.76px;
    right: 20px;
    bottom: 20px;
}


.footer-social-icon {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-left: 80px;
    margin-bottom: 50px;
}

.footer-social-icon a {
    color: #333;
    text-decoration: none;
    font-size: 1.5em;
}

.payment-icon {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.payment-icon img {
    position: absolute;
    height: auto;
    width: 262px;
    left: 100px;
    bottom: 40px;
}


